header {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 1);
}

.somosJade span {
  cursor: default;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 10px;
  position: absolute;
  color: #52B69A;
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(90deg, #52B69A, #34A0A4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*NAV-----------------------------------------------------------------------------------------------------------------------------------------*/
nav {
    display: block;
    margin-left: 630px;
}

nav button {
  margin-top: 22px;
  margin-left: 10px;
}

/*HOME*/
.home {
    font-size: 24px;
    color: #020e26;
    background-color: transparent;
    border: 1px solid #020e26;
    border-radius: 48px;
    padding: 12px 32px;
    transition: 0.4s;
}

.home:hover {
     color: #ffffff;
     cursor: pointer;
}

.home::before {
    content: "";
    position: absolute;
    height: 53px;
    width: 130px;
    z-index: -1;
    border-radius: 48px;
    background-color: #52B69A;
    transform: translate(-24px, -8px);
    transition: 0.4s;
}

.home:hover::before {
    background-color: #168AAD;
    transform: translate(-33px, -13px);
}

/*SAIBA MAIS*/
.saiba_mais {
    font-size: 24px;
    color: #020e26;
    background-color: transparent;
    border: 1px solid #020e26;
    border-radius: 48px;
    padding: 12px 32px;
    transition: 0.4s;
}

.saiba_mais:hover {
     color: #ffffff;
     cursor: pointer;
}

.saiba_mais::before {
    content: "";
    position: absolute;
    height: 53px;
    width: 185px;
    z-index: -1;
    border-radius: 48px;
    background-color: #52B69A;
    transform: translate(-24px, -8px);
    transition: 0.4s;
}

.saiba_mais:hover::before {
    background-color: #168AAD;
    transform: translate(-33px, -13px);
}

/*CONTRIBUA*/
.contribua {
    font-size: 24px;
    color: #020e26;
    background-color: transparent;
    border: 1px solid #020e26;
    border-radius: 48px;
    padding: 12px 32px;
    transition: 0.4s;
}

.contribua:hover {
     color: #ffffff;
     cursor: pointer;
}

.contribua::before {
    content: "";
    position: absolute;
    height: 53px;
    width: 170px;
    z-index: -1;
    border-radius: 48px;
    background-color: #52B69A;
    transform: translate(-24px, -8px);
    transition: 0.4s;
}

.contribua:hover::before {
    background-color: #168AAD;
    transform: translate(-33px, -13px);
}

/*QUEM SOMOS*/
.quem_somos {
    font-size: 24px;
    color: #020e26;
    background-color: transparent;
    border: 1px solid #020e26;
    border-radius: 48px;
    padding: 12px 32px;
    transition: 0.4s;
}

.quem_somos:hover {
     color: #ffffff;
     cursor: pointer;
}

.quem_somos::before {
    content: "";
    position: absolute;
    height: 53px;
    width: 210px;
    z-index: -1;
    border-radius: 48px;
    background-color: #52B69A;
    transform: translate(-24px, -8px);
    transition: 0.4s;
}

.quem_somos:hover::before {
    background-color: #168AAD;
    transform: translate(-33px, -13px);
}